<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingNotes">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-Face-to-face" aria-expanded="false" aria-controls="panelsStayOpen-Face-to-face">
      <div class="">
        <h4>Clases presenciales <span class="badge bg-danger p-2 rounded-pill animate__animated animate__bounce" id="btn-new">Nuevo!!</span></h4>
      </div>
        
    </button>
    </h2>
    <div id="panelsStayOpen-Face-to-face" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNotes" data-bs-parent="#accordionPanelFace-to-face">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ofrecemos también clases presenciales en la <b class="text-dark">Ciudad de Córdoba Capital</b></li>
          <li class="list-group-item">El horario de atención es de <b class="text-dark">lunes a viernes de 9:00hs a 18:00hs</b></li>
          <li class="list-group-item">Estamos ubicados en <b class="text-dark">Chacabuco 249. Piso 1 Dto Coworking Space</b> </li>
          <li class="list-group-item">Las tarifas son: Clase de consulta de <b>2 hs: 3.000</b> pesos o bien paquete de <b>10hs</b> de clase <b>12.000</b> pesos</b></li>
          <li class="list-group-item">Para mayor información o consultas por clases en otras provincias puedes comunicarte al siguiente número por whatsapp: <a href="https://api.whatsapp.com/send?phone=5493512016060" target="_blank" class="btn btn-sm btn-success">3512016060</a></li>
        </ul>
      </div>
    </div>
</div>