<footer>
    <div class="footer__sectionContainer">
        <section class="footer__info">
            <div class="footer__logoContainer">
                <img src="/images/logos/LOGO HQ.png" alt="Logo HQ" class="w-100">
            </div>
            <nav class="footer__nav">
                <ul>
                    <li><a href="tel:11231233241">15-xxxxxxzzz</a></li>
                    <li><a href="tel:11231233241">15-xxxxxxzzz</a></li>
                    <li><a href="mailto:mail@mail.com">mail@mail.com</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Nosotros</a></li>
                    <li><a href="#2">Mision</a></li>
                    <li><a href="#3">Contacto</a></li>
                </ul>
            </nav>
            <div class="footer__social">
                <div class="footer__social-item">
                    <a href="https://www.instagram.com" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                <div class="footer__social-item">
                    <a href="https://www.facebook.com" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
                <div class="footer__social-item">
                    <a href="https://youtube.com" target="_blank" rel="noreferrer">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
        </section>
        <section class="footer__newsletterContainer">
            <div class="footer__newsletterContainer--text">
                <h3>¿Querés recibir todas nuestras novedades?</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus rem beatae mollitia, ullam excepturi in adipisci deserunt praesentium eaque, assumenda cupiditate minima qui repellendus iusto libero! Nisi esse reprehenderit odio.</p>
            </div>
            <form id="newsletterForm">
                <div class="footer__newsletterContainer--form">
                    <input type="email" id="inputNewsletter" placeholder="Ingresa tu email" required>
                    <button class="button__newsletter" type="submit">
                        Suscribirme
                    </button>
                </div>
            </form>
        </section>
    </div>
    <p class="text-center">Desarrollo por Jona y Eric</p>
</footer>
<script src="/javascripts/Footer/newsletter.js"></script>