<header class="main-header sticky-top">
    <nav class="navbar navbar-expand-md bg-white shadow-sm">
        <div class="container-fluid">
            <div class="header__logo-container">
                <a class="navbar-brand" href="/"><img src="/images/logos/LOGO HQ.png" alt="Logo HQ"></a>
            </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form role="search">
                <div class="header__searchBar-container">
                    <input class="header__searchBar-input" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="header__searchBar-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-md-center justify-content-md-evenly w-100">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/university" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Universidades
                    </a>
                    <ul class="dropdown-menu shadow-sm border-0" id="universitiesMenu">
                        
                    </ul>
                </li>
               
                <% if (session !== null) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mis materias
                        </a>
                        <ul class="dropdown-menu shadow-sm border-0">
                            <li><a class="dropdown-item" href="#">Materia</a></li>
                        </ul>
                    </li>
                    
                    <div class="header__buttons-container">
                        <a href="/usuario/login" >
                            <div class="button__light">
                                <span>Iniciar sesión</span>
                            </div>
                        </a>
                        <a href="/usuario/registro">
                            <div class="button__dark">
                                <span>Registrate</span>
                            </div>
                        </a>
                    </div>
                <% } else {%> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="header__avatar">
                                <img src="" alt="">
                            </div>
                        </a>
                        <ul class="dropdown-menu shadow-sm border-0">
                            <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                            <li><a class="dropdown-item" href="/usuario/logout">Cerrar sesión <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                        </ul>
                    </li>
                <% } %> 
            </ul>
          </div>
        </div>
    </nav>
</header>