<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <div>
                <h5 class="modal-title" id="exampleModalLabel">CARRERA</h5>
                <h6 class="modal-title" id="exampleModalLabel">UNC - Facultad de Ciencias Médicas</h6>
            </div>
          <i class="fa-solid fa-circle-xmark modal__close" data-bs-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item university__school-itemContainer">
                    <a href="">FÍSICA</a>
                </li>
                <li class="list-group-item university__school-itemContainer">
                    <a href="">QUÍMICA</a>
                </li>
                <li class="list-group-item university__school-itemContainer">
                    <a href="">BIOLOGÍA</a>
                </li>
                <li class="list-group-item university__school-itemContainer">
                    <a href="">FÍSICA</a>
                </li>
                <li class="list-group-item university__school-itemContainer">
                    <a href="">QUÍMICA</a>
                </li>
                <li class="list-group-item university__school-itemContainer">
                    <a href="">BIOLOGÍA</a>
                </li>
            </ul>
        </div>
       <!--  <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  