<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <div>
                <h5 class="modal-title" id="exampleModalLabel">CARRERA</h5>
                <h6 class="modal-title" id="exampleModalLabel">UNC - Facultad de Ciencias Médicas</h6>
            </div>
          <i class="fa-solid fa-circle-xmark modal__close" data-bs-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <!-- <%- include('./modalBodyTestImage') %>  -->
            <!-- <%- include('./modalBodyMembresy') %>  -->
            <!-- <%- include('./modalBodyVideo') %>  -->
            <%- include('./modalBodyUniversity') %> 
            <!-- EXAMEN -->
        </div>
      </div>
    </div>
  </div>
  