<div class="courseContent__modal container p-2">
    <div class="row">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eaque voluptate, quo quisquam enim harum eum vero laboriosam pariatur quas ipsa numquam quis, eius esse consectetur ducimus quaerat. Cupiditate reprehenderit debitis et saepe! Doloribus adipisci, voluptas vel ratione recusandae nam?</p>
    </div>
   <div class="row">
    <img src="/images/test/imagen-test.jpg" class="img-fluid" alt="examen">
   </div>
</div>