<div class="container p-3">
    <h2 class="text-center">Obtené tu membresía</h2>
    <div class="row">
        <div class="col-12 p-2">
            <div class="shadow rounded p-3">
                <h4 class="text-center">Premium</h4>
                <p class="text-center">Accedé a todo el contenido de 5 materias</p>
            </div>
        </div>
        <div class="col-12 p-2">
            <div class="shadow rounded p-3">
                <h4 class="text-center">Premium</h4>
                <p class="text-center">Accedé a todo el contenido de 5 materias</p>
            </div>
        </div>
        <div class="col-12 p-2">
            <div class="shadow rounded p-3">
                <h4 class="text-center">Premium</h4>
                <p class="text-center">Accedé a todo el contenido de 5 materias</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="/usuarios/login" >
            <div class="button__light">
                <span>Iniciar sesión</span>
            </div>
        </a>
        <a href="/usuarios/registro">
            <div class="button__dark">
                <span>Registrate</span>
            </div>
        </a>
    </div>
</div>
