<ul class="list-group list-group-flush">
    <li class="list-group-item university__school-itemContainer">
        <a href="">FÍSICA</a>
    </li>
    <li class="list-group-item university__school-itemContainer">
        <a href="">QUÍMICA</a>
    </li>
    <li class="list-group-item university__school-itemContainer">
        <a href="">BIOLOGÍA</a>
    </li>
    <li class="list-group-item university__school-itemContainer">
        <a href="">FÍSICA</a>
    </li>
    <li class="list-group-item university__school-itemContainer">
        <a href="">QUÍMICA</a>
    </li>
    <li class="list-group-item university__school-itemContainer">
        <a href="">BIOLOGÍA</a>
    </li>
</ul>