/* .courses__card{
    width: 100%;
}
.courses__videos--box{
    height: 100vh; 
    overflow-y: scroll;
}

.courses__banner--preview, .courses__info--preview {
    width: 100%;
}

.material__card {
    width: 100%;
}

@media (min-width:768px) {
    .courses__card{
        width: 48%;
    }
    .material__card {
        width: 48%;
    }
    .courses__videos--box{
        height: 118vh; 
        overflow-y: scroll;
    }
}

@media (min-width:1024px) {
    .courses__card{
        width: 32%;
    }
    .courses__videos--box{
        height: 112vh; 
    }
    .courses__banner--preview, .courses__info--preview {
        width: 48%;
    }
    .material__card {
        width: 32%;
    }
} */
