.profile__mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem; }
  .profile__mainContainer .profile__formContainer {
    position: relative;
    max-width: 500px; }
    .profile__mainContainer .profile__formContainer .profile__logoContainer {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 4rem;
      height: 4rem; }
    .profile__mainContainer .profile__formContainer .profile__buttonContainer {
      display: flex;
      justify-content: end;
      align-items: center; }
