.profile__mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem; }
  .profile__mainContainer .profile__formContainer {
    position: relative;
    max-width: 950px; }
    .profile__mainContainer .profile__formContainer .profile__logoContainer {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 4rem;
      height: 4rem; }
    .profile__mainContainer .profile__formContainer .profile__buttonContainer {
      display: flex;
      justify-content: end;
      align-items: center; }
  .profile__mainContainer .referredContainer {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid lightgray; }
    .profile__mainContainer .referredContainer .referredName {
      font-weight: 700;
      text-transform: uppercase; }
    .profile__mainContainer .referredContainer .referredEmail {
      font-weight: 600;
      font-style: italic; }
    .profile__mainContainer .referredContainer .referredActive {
      position: absolute;
      right: 10px; }
      .profile__mainContainer .referredContainer .referredActive i {
        font-size: 1.5rem; }
