<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva unidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" class="row" id="form-modal-add-unit" onsubmit="sendModalForm(event,'<%=course.id%>')">
            <div class="col-12 mb-3">
                <label for="number" class="form-label">Unidad:</label>
                <input id="number" type="number" class="form-control" name="number" id="number" onkeyup="check(event,'<%=course.id%>')" onfocus="this.classList.remove('is-invalid')">
                <small class="text-danger" id="checkError"></small>
            </div>
            <div class="col-12 mb-3">
                <label for="name" class="form-label">Nombre:</label>
                <div class="d-flex gap-1">
                    <input id="name" type="text" class="form-control" name="name" onfocus="this.classList.remove('is-invalid')">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-outline-dark">Guardar</button>
        </div>
    </form>
      </div>
    </div>
  </div>
<script src="/javascripts/addUnit.js"></script>