<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Home'
  }) %> 

<body class="home">
  <%- include('./partials/header') %> 
  <main class="container">
    <h1>Home</h1>
  </main>
  <%- include('./partials/footer') %> 
  <%- include('./partials/scripts') %> 
</body>
</html>
