<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Universidad'
  }) %> 

  <body class="university">
    <%- include('./partials/header') %> 
    <main>
        <h1>Nombre de la universidad</h1>
        <h2>Facultades y carreras</h2>
        <section class="container university__school-wrapper">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">FACULTAD DE CIENCIAS MÉDICAS</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item university__school-itemContainer">
                            <span>Medicina</span><span><a href="">Ver contenido</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </section>
    </main>
    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %> 
  </body>
</html>
