<!DOCTYPE html>
<%- include('./partials/head',{ title : 'Area' }) %>

    <body class="areas bg-light">
        <%- include('./partials/header') %>
            <main class="container">
                <section class="row mt-2 mt-md-3 mt-lg-5">
                    <div class="col-12 col-md-10 col-lg-8 mx-auto">
                        <article class="card shadow">
                            <div class="card-header">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/faculties">Facultades</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Facultad</li>
                                    </ol>
                                </nav>
                                <hr>
                            </div>
                            <div class="card-body">
                                <div class="d-flex gap-3 flex-wrap justify-content-around align-items-center">
                                        <img class="img-fluid" width="150px" src="https://scontent.ffdo4-1.fna.fbcdn.net/v/t39.30808-6/298832917_579770473690843_1463814642804326480_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Gev5hAEoa_sAX8Jsise&_nc_ht=scontent.ffdo4-1.fna&oh=00_AT_zGZHqLfzCqTUzmrkY1jAy3xNQaPafEVAhUKmGVp3zag&oe=62FF1C27"
                                            alt="vista previa">
                                    <div style="width:600px">
                                        <h3>Facultad de Ciencias Médicas</h3>
                                        <p class="text-muted">Estadísticas</p>
                                    </div>
                                </div>

                            </div>

                        </article>

                    </div>
                </section>

            </main>
            <%- include('./partials/scripts') %>
    </body>

    </html>