<!DOCTYPE html>
<%- include('./partials/head',{
    title : 'Home'
}) %> 
<body class="admin">
    <%- include('./partials/header') %> 
    <main class="container">
        <h1>Administrador</h1>

    </main>
    <%- include('./partials/scripts') %> 
</body>
</html>