header.main-header{
    .header__logo-container{
        width: 7rem;
        height: 4rem;
        a {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .header__searchBar-container {
        display: flex;
        justify-content: space-between;
        border: 1px solid $hq-secondary;
        background-color: white;
        height: 3rem;
        padding: 0 1rem;
        input.header__searchBar-input{
            border: none;
            background-color: white;
            outline: none;
        }
        button.header__searchBar-button{
            background-color: white;
            border: none;
            font-size: 1.3rem;
        }
    }
    .header__avatar{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        background-color: lightgrey;
        display: inline-block;
        img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .header__buttons-container {
        display: flex;
        width: 15rem;
        justify-content: space-between;
    }
}