
.university__main-wrapper {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 2rem 1rem;
    .university__school-wrapper {
        padding: 2rem;
        .university__school-itemContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media screen and (min-width: 1024px) {
    .university__main-wrapper {
        padding: 10rem;
    }
}