.magicCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsiveImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-basic {
    background-color: $color-celeste-mate;
    color: white;
}

.bg-pro {
    background-color: $color-celeste-oscuro;
    color: white;
}

.bg-premium {
    background-color: $color-azul-oscuro;
    color: white;
}