.wapp__container {
  width: 3rem;
  height: 3rem;
  background-color: #25d366;
  color: white;
  position: fixed;
  z-index: 999;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
}
.wapp__container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.wapp__container a i {
  color: white;
  font-size: 2rem;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #25d366;
  ;
  color: #fff;
  text-align: center;
  padding: 10px 8px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 200px;
  bottom: 120%;
  right: -20%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.wapp__container:hover .tooltiptext {
  visibility: visible;
 
}
