@import "utils";
.coursePresentation {
    .coursePresentation__banner {
        padding: 2rem;
        background-color: #7474cc;
        .coursePresentation__banner--description {
            .coursePresentation__banner--buttonContainer {
                width: 10rem;
            }
        }
    }

    .coursePresentation__summary-content {
        .coursePresentation__summary-content-number {
            font-size: 4rem;
        }
    }

    .coursePresentation__summary-content--buttonContainer {
        @extend .magicCenter;
        height: 100%;
        width: 100%;
    }

    .coursePresentation__rating {
        .coursePresentation__rating--container {
            .coursePresentation__rating--value {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 200px;
                margin: 0 auto;
                span {
                    font-size: 80px;
                }
            }
        }
        .coursePresentation__comments--container {
            .coursePresentation__comments--avatar {
                .avatar {
                    max-width: 5rem;
                    img {
                        @extend .responsiveImage
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .coursePresentation {
        .coursePresentation__banner {
            padding: 3rem;
        }
    }
}