@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}   

body {
    font-family: $hq-font !important;
   background-color: silver;
    
    
    
}
ul, ol {
    padding: 0 !important;
    margin: 0 !important;
}
li {
    list-style: none;
}
a{
    text-decoration: none !important;
    color: inherit;
}
.wapp__container {
    width: 3rem;
    height: 3rem;
    background-color: #25D366;
    color: white;
    position: fixed;
    z-index: 999;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        i {
            color: white;
            font-size: 2rem;
        }
    }
}

.button-base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    height: 3rem;
    transition: all 0.5s ease;
}

.button__light {
    @extend .button-base;
    border: 1px solid $hq-secondary;
    color: $hq-secondary;
    background-color: white;
    &:hover {
        color: white;
        background-color: $hq-secondary;
    }
}
.button__dark {
    @extend .button-base;
    color: white;
    background-color: $hq-secondary;
    border: 1px solid $hq-secondary;
    &:hover {
        background-color: white;
        color: $hq-secondary;
    }
}
.button__newsletter {
    @extend .button-base;
    color: white;
    background-color: $hq-secondary;
    border: 1px solid white;
    &:hover {
        background-color: white;
        color: $hq-secondary;
    }
}

