@import "utils";

.home {
    .carousel-item--container{
        display: flex;
        align-items: center;
        background-color: lightblue;
        padding: 2rem;
        .carousel-item__imageContainer {
            width: 70%;
            height: 70%;
            img {
                @extend .responsiveImage;
            }
        }
        .carousel-item__dataContainer {
            width: 30%;
            padding: 2rem;
        }
    }
    .home__content1-imageContainer {
        img {
            @extend .responsiveImage
        }
    }
    .home__content1-data {
        @extend .magicCenter;
        flex-direction: column;
        .home__content1-buttonContainer {
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
    
}