@import 'normalize.scss';
@import 'variables.scss';
@import 'general.scss';
@import 'forms.scss';
@import 'home.scss';
@import 'userRegister.scss';
@import 'userLogin.scss';
@import 'userProfile.scss';
@import 'coursePresentation.scss';
@import 'courseContent.scss';
@import 'courses.scss';
@import 'custom.scss';
@import 'header';
@import 'footer';