.profile  {
    background-color: $color-azul-mate;
}
.profile__mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 2rem;
    .dataItems {
        font-weight: bolder;
        color: blueviolet;
        font-style: italic;
    }
    .profile__formContainer {
        position: relative;
        max-width: 950px;
        .profile__logoContainer {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 4rem;
            height: 4rem;
        }
        .profile__buttonContainer {
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
    .membershipCard {
        &.BASIC {
            background-color: $color-celeste-mate;
        }
        &.PRO {
            background-color: $color-celeste-oscuro;
        }
        &.PREMIUM {
            background-color: $color-azul-oscuro;
        }
        .membershipCard__name {
            color: white;
            font-weight: bold;
            font-size: 2.5rem;
            padding: 2rem 0;
        }
        .membershipCard__description {
            color: white;
            padding: 2rem;
            font-size: 1.5rem;
        }
        .membershipCard__price {
            color: white;
            font-size: 4rem;
        }   
        .button__membership {
            width: 150px;
        }
    }
    .referredContainer {
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid lightgray;
        .referredName{
            font-weight: 700;
            text-transform: uppercase;
        }
        .referredEmail {
            font-weight: 600;
            font-style: italic;
        }
        .referredActive {
            position: absolute;
            right: 10px;
            i {
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (min-width:  500px) {
    .profile__mainContainer {

    .membershipCard {
        .membershipCard__name {
            font-size: 3rem;
        }
}
    }
}
