@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

$hq-primary: #E72426; 
$hq-secondary: black;
$hq-font: 'Roboto', sans-serif;
$color-azul-oscuro : #04347c; //PREMIUM
$color-azul-mate:#083e72;
$color-celeste-oscuro: #076aab; //PRO
$color-celeste: #4fa6dd;
$color-celeste-claro: #72b7db;
$color-celeste-mate:#5d98b9; //BASIC
$color-rojo: #f32325;

