<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Materia | Presentación'
  }) %> 

<body class="presentation">
  <%- include('./partials/header') %> 
  <main class="container">
    <h1>Presentación de la Materia</h1>
  </main>
  <%- include('./partials/footer') %> 
  <%- include('./partials/scripts') %> 
</body>
</html>
