<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Login'
  }) %> 

<body class="login">
  <%- include('./partials/header') %> 
  <main class="container">
    <h1>Login</h1>
  </main>
  <%- include('./partials/footer') %> 
  <%- include('./partials/scripts') %> 
</body>
</html>
