<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Registro'
  }) %> 

<body class="register">
  <%- include('./partials/header') %> 
  <main class="container">
    <h1>Registro</h1>
  </main>
  <%- include('./partials/footer') %> 
  <%- include('./partials/scripts') %> 
</body>
</html>
